@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 16px;
    font-family: "Exo", sans-serif;
}
body{
    background-color: #cfccbb;
}
header{
    background-color: #291d21;
    color: #e1daca;
    font-size: 40px;
    text-align: center;
}
main{
}
.container{

    width:cover;
    height:30rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items:center;
    justify-content:space-around;
}
.container-item{
    background-color: #5d544d;
    color:#e1daca;
    width:20rem;
    height:20rem;
    margin:10px;
    padding-top:10px;
    font-size: 30px;
}
.img-main{
    width: 20rem;
    height: auto;
}