@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Exo", sans-serif;
}
body{
    background-color: #cfccbb;
}
header{
    background-color: #291d21;
    color: #e1daca;
    font-size: 40px;
    text-align: center;
}
/* INDEX */
.container-index{
    width:cover;
    height:30rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items:center;
    justify-content:space-around;
}
.container-index a{
    text-decoration: none;
    color:#e1daca;
}
    
.container-item-index{
    background-color: #5d544d;
    color:#e1daca;
    width:25rem;
    height:25rem;
    margin:10px;
    padding-top:10px;
    font-size: 2rem;
}
.img-main-index{
    width: 25rem;
    height: auto;
}
/* INDEX FIM */

/* MENU SIMPLES */
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0;
    width: 100%;
    font-size: 22px;
}
p{
    font-size: 30px;
}
/* MENU SIMPLES FIM */

/* MENU FIXADO */



/* MENU FIXADO FIM */

/* MENU LATERAL */



/* MENU LATERAL FIM */

/* MENU TEST */

/* MENU TEST FIM */